.modal-title{
    color: rgb(0, 0, 0);
    font-size: 3vh;
}

.modal-body{
    color: black;
}


.modal-body, .modal-title, .modal-header, .modal-footer.dark-mode{
    color: white;
    background-color: rgb(3, 3, 3);    
}