body {
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh; 
    background-image: url("https://res.cloudinary.com/dtqgzojs3/image/upload/v1700130351/5253cf935d176074e92fc1eb8ae9c30a_pyx0aa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  h1.login-title {
    font-size: 20vh;
    color: #002e53 !important;
    text-align: center;
    text-shadow: 4px 4px 10px #6d74ff;
    margin: 0;
    margin-bottom: 7vh;
  }
  
  .register-link {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
  }
  
  .button-login {
    border-radius: 5vh;
    background-color: #333;
    color: whitesmoke;
    padding: 1vh 5vh;
    margin: 1vh;
    margin-bottom: 30vh;
    box-shadow: 5px 5px 10px rgb(35, 35, 50);
  }

  p{
    color: #002e53;
    font-size: 2vh;
    text-align: center;
    text-shadow: 2px 2px 5px #6d74ff;
  }
  

  @media screen and (width: 414px) and (height: 824px) {
    h1.login-title {
      font-size: 10vh;
    }
  }