  .homeTitle {
    text-align: center;
    font-size: 12vh;
    color: rgb(31, 30, 30);
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 6vh;
    text-shadow: 1px 3px 5px rgba(0, 7, 84, 0.8);
  }

  a.movieLink {
    text-decoration: none;
  }

  .movieTitle {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(45, 45, 45);
    font-size: 4vh;
    text-decoration: underline;
  }

  .movieTitle:hover {
    color: #8890fd;
  }

  .listOfMovies {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(45, 45, 45);
  }

  .movieGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vh;
    justify-content: center;
    margin-bottom: 2vh;
    text-decoration: none;
    margin-left: 2vh;
    margin-right: 2vh;
    color: rgb(45, 45, 45);
  }

  .movieCard {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    background-color: #33333334;
    border-radius: 15px;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .moviePoster {
    width: 100%;
    max-width: 25vh;
    height: 35vh;
    border-radius: 2vh;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.226);
    color: rgb(45, 45, 45);
  }

  .updateButton {
    border-radius: 5vh;
    background-color: #333;
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(35, 35, 50);
    margin: 1vh;
  }

  .deleteButton {
    border-radius: 5vh;
    background-color: #333;
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(35, 35, 50);
    margin: 1vh;
  }

  .movieLink {
    color: white;
    font-weight: bold;
  }

  .noMovies {
    font-size: 6vh;
    color: rgb(184, 184, 184);
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-shadow: 1px 3px 5px rgb(84, 0, 0, 0.8);
    grid-column: 2;
    padding-left: 43vh;
  }

  .score {
    color: rgb(45, 45, 45);
    font-size: 3vh;
  }

  .genre {
    color: rgb(45, 45, 45);
    font-size: 3vh;
  }

  .homeTitle.dark-mode,
  .movieTitle.dark-mode,
  .score.dark-mode,
  .genre.dark-mode {
    color: white;
  }